<html>

<head>
    <!-- this break the color after typing in input
        <meta name="theme-color" content="{{ theme.browser }}">
        <meta name="msapplication-navbutton-color" content="{{ theme.browser }}">
        <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.browser }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="">
    <title>Test</title>
    <meta name="description" content="Sidenote for everyone">
    <meta name="author" content="Tai Huynh">
</head>

<body>
<i class="material-icons">search</i>
</body>

</html>